<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9XZH9K61N7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9XZH9K61N7');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="og:image": content="https://ukstudio.jp/assets/images/ukstudio.jpg">
    <meta name="og:site_name" content="ukstudio.jp">
    <meta name="og:type" content="article">
    <meta name="twitter:card" content="summary">
    <% if page.title == 'index' %>
    <meta name="og:title" content="ukstudio">
    <title>ukstudio</title>
    <% else %>
    <meta name="og:title" content="<%= page.title %> - ukstudio">
    <title><%= page.title %> - ukstudio</title>
    <% end %>

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link href="/assets/stylesheets/styles.css" rel="stylesheet">
    <script src="//instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>
  </head>
  <body class="md:text-base text-sm">
    <div class="container max-w-screen-lg mx-auto py-4 px-4">
      <header>
        <a href="/" class="font-extrabold text-lg no-underline">ukstudio</a>
      </header>
      <main class="flex">
        <article class="flex-1 max-2-3xl">
          <header>
            <h1 class="mb-0"><%= page.title %></h1>
            <p class="mt-0" style="color: #999">Updated on <%= page.updated.strftime('%b %e, %Y') %></p>
          </header>
          <section class="article-body break-all">
            <%= page.content %>
          </section>
        </article>
        <aside class="w-64 pl-8 md:block hidden">
          <h2 class='mt-0'>Backlinks</h2>
          <% unless page.meta['backlinks'].empty? %>
            <ul>
              <% page.meta['backlinks'].each do |link| %>
                <li>
                  <a href="<%= link.permalink %>"><%= link.title %></a>
                </li>
              <% end %>
            </ul>
          <% else %>
              <p>No backlinks found.</p>
          <% end %>
        </aside>
      </main>
    </div>
  </body>
</html>
